/* Global Settings */
body {	

}

#pimcore_body {
	background: #4C0D83;
	padding: 10px 0px 0 90px !important;
}

#pimcore_body-body{
	background-color: transparent;
}

.x-panel-body{

}

#pimcore_panel_tabs-body{
	background-image: url(/pimcore/static6/img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px;
}

h1 {

}

h2 {

}

h3 {

}

a {

}

ul {

}

ul li {

}

ul li a{
	
}

ul li a.active{
	
}
	
span {

}

p{

}


/* Left panel */

#pimcore_navigation{
	top: 10px;
	left: 12px;
}

.pimcore_navigation_flyout .x-menu-body-default{
	background-color: #62209d;
}

#pimcore_navigation li:hover {
    background-color: #4b0d83;     
}

#pimcore_navigation li > svg{

}

#pimcore_navigation li{
	height: 60px;
}

#pimcore_navigation li .custom_menu_tile {
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    color: #969696;
    font-weight: bold;
}

#pimcore_navigation li:hover .custom_menu_tile {
    color: #ffffff;
}

#pimcore_navigation li:hover:after{
	background-color: transparent;
}

.pimcore_navigation_flyout .x-menu-item-icon-default {
    background: url(/pimcore/static6/img/icon/arrowhead-right.png) no-repeat 10px center !important;
    background-size: 10px !important;
}

.pimcore_navigation_flyout .pimcore_icon_overlay_go:before{
	background: none !important;
}

.pimcore_navigation_flyout .pimcore_icon_overlay_delete:before{
	background: none !important;
}


#pimcore_status{
	left: 25px;
}

#pimcore_logout{
	left: 17px;
}

#pimcore_logout svg {
    left: 20px;
    width: 16px;
}

#pimcore_avatar{
	background: #4b0d83;
	left: 16px;
}

#pimcore_signet{
	background-image: url('/pimcore/static6/img/gunstudio-icon-light.png');
    background-repeat: no-repeat;
	background-size: 40px 35px;
    background-position: center;
	width: 90px;
}

.x-menu-item-default.x-menu-item-active{
	background: #4b0d83;
}

.x-menu-item-link:hover{
	background: #4b0d83;
}

/* Side Panel */

.x-tree-view .x-grid-item-container{
	margin-top: 10px;
}

.x-grid-item-selected{
	background-color: transparent;
}

.x-tree-icon{
	display: none;
}

.x-grid-tree-node-expanded .x-tree-elbow-plus:before, .x-grid-tree-node-expanded .x-tree-elbow-end-plus:before{
	content: "\f068";
	font-size: 8px;
}

.x-tree-elbow-plus:before, .x-tree-elbow-end-plus:before{
	content: "\f067";
	font-size: 8px;	
}

.x-tree-node-text{
	padding-left: 0px;
}

.x-autowidth-table .x-grid-item{
	padding-left: 10px;
}

.x-tool-collapse-left:before {
    content: "\f060";
    color: #4b0d83;
}

.x-tool-expand-right:before {
    content: "\f061";
    color: #4b0d83;
}

.x-layout-split-left, .x-layout-split-right{
	display: none;
}

.x-accordion-item{
	background: #ffffff;
    padding: 20px;
    left: 0 !important;
    
}

.x-accordion-item.x-collapsed{
	margin-top: -5px;
	height: 74px !important;

}

.x-panel-header-collapsed{
	margin-top: -1px;
    border-radius: 5px;
}

.x-accordion-hd .x-tool-collapse-top:before, .x-accordion-hd .x-tool-collapse-bottom:before{
	color: #ffffff;
	font-size: 10px;

}

.x-tool-right:before{
	color: #818181;
	display: none;	
}

.x-accordion-hd .x-tool-expand-top:before, .x-accordion-hd .x-tool-expand-bottom:before{
	color: #ffffff;		
	font-size: 10px;
}

#pimcore_panel_tree_left-body .x-tool-img{

}

.x-panel-header-default-horizontal.x-header-noborder {
    border-radius: 3px;
	padding: 5px 5px 5px 26px !important;
}


.x-panel-header-title-default > .x-title-icon-wrap-default.x-title-icon-left{
	display: none;
}

.x-accordion-item .x-accordion-hd{
	background: #41C0B0;
}

.x-accordion-hd .x-panel-header-title{
	color: #ffffff;
	font-size: 14px;
}

.x-panel-header-default-horizontal.x-header-noborder.x-panel-header-collapsed{
	top: 15px !important;
	border-top: 5px solid #ffffff;
}

.x-panel-header-default-horizontal.x-header-noborder.x-panel-header-collapsed:before {
    width: 100%;
    height: 10px;
    background: #ffffff;
    display: block;
}

#pimcore_panel_tree_left-body{
	padding-right: 20px !important;
    background: #ededed;
    background-position: right;
    background-size: 20px 100%;
    background-repeat: no-repeat;
    padding-left: 0;
}

#pimcore_panel_tree_left-innerCt{
	margin-left: 15px;	
}

#pimcore_panel_tree_left > .x-panel-header-default-horizontal.x-header-noborder{
	background: #ededed;
    background-position: right;
    background-size: 20px 100%;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}

.x-panel-header-default-vertical.x-header-noborder {
    background: linear-gradient(to right, rgba(234, 239, 244, 1) , rgba(117, 120, 122, 0.25));
    background-position: right;
    background-size: 20px 100%;
    background-repeat: no-repeat;
    background-color: rgba(234, 239, 244, 1);
}

.x-splitter-default{

}


.x-panel-header-default .x-tool-img {
    background-color: transparent;

}

.x-panel-header-default .x-tool-img {
    background-color: transparent;
}

/* Custom Footer Styles */
#custom_footer{
	width: 100%;
    height: 50px;
    background: #CAD5DE;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    display: flex;
    color: #4b0d83;
    font-size: 12px;
}

.footer-block{
	width: 33%;
    text-align: center;
    padding: 12px 40px;
}

.footer-block.support-button .x-btn{
	padding: 5px 10px;
}

.footer-block ul{
	list-style: none;
	margin: auto;
	margin-top: 5px;
}

.footer-block ul li{
	display: inline;
}

.footer-block ul li a{
	color: #4b0d83;
	text-decoration: none;
}

.footer-block .copyright{
	margin-top: 5px;
}

/** Window body styles **/
.x-window-default {
	border-color: #4C0D83;
	border-radius: 4px;
}

.x-window-header-default {
	border-color: #4C0D83;
}

.x-window-header-default-top {
	background-color: #4C0D83;
}

.x-window-header-default .x-tool-img {
	background-color: #4C0D83;
}

.x-window-body-default {
	color: #818181;
}

/* Hide symphony toolbar */
.sf-minitoolbar{
	display: none !important;
}

/** Window body styles end **/


/** Message box styles **/
.x-message-box-icon {
	color: #E9EFF4;
}

.x-toolbar-footer {
	background: none;
}
/** Message box styles end **/


/** Button styles **/
.x-btn {
	border-radius: 19px;
}

.x-btn-inner-default-small {
	font-weight: 700;
}

.x-btn-inner {
	color: #ffffff;
}

/* Default */
.x-btn-default-small, .x-btn-default-medium, .x-btn-default-large {
	border-color: #41C0B0;
	background-color: #41C0B0;
}

/* Focus */
.x-btn-focus.x-btn-default-small, .x-btn-focus.x-btn-default-medium, .x-btn-focus.x-btn-default-large {
	border-color: #41C0B0;
	background-color: #41C0B0;
}

/* Hover */
.x-btn-over.x-btn-default-small, .x-btn-over.x-btn-default-medium, .x-btn-over.x-btn-default-large {
	border-color: #41C0B0;
	background-color: #41C0B0;
}

/* Pressed */
.x-btn.x-btn-menu-active.x-btn-default-small, .x-btn.x-btn-pressed.x-btn-default-small {
	border-color: #41C0B0;
	background-image: none;
	background-color: #41C0B0;
}
/** Button styles end **/


/* Input box styles */
.x-form-trigger-wrap-default {
    border-color: #E9EFF4;
}

.x-form-trigger-wrap-default.x-form-trigger-wrap-focus {
	border-color: #d0d0d0;
}
/* Input box styles end */

.main-editor-header {
	height: 34px !important;
}
