#pimcore_panel_tabs > .x-tab-bar {
	background: #4C0D83;
    background-image: url(/pimcore/static6/img/header-bg.png);
    background-position: right -5px top 0px;
    background-size: 360px auto;
    background-repeat: no-repeat;
}

#pimcore_panel_tabs > .x-tab-bar > .x-tab-bar-body .x-tab-active,
.x-tab-bar-default {
	background: #ececec;
}

.main-toolbar.x-toolbar-default {
	background: #ffffff;
	border-bottom: 1px solid #ffffff !important;
}

#pimcore_panel_tabs > .x-tab-bar .x-tab-default-top {
	background: #000000;
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.x-tab-default .x-tab-close-btn:before {
	content: "\00d7";
	font-size: 16px;
	color: #818181;
}

#pimcore_panel_tabs > .x-tab-bar .x-tab-active .x-tab-inner-default {
	color: #63209D;
	font-weight: 700;
}

#pimcore_panel_tabs > .x-panel-body > .x-tabpanel-child {
	border-color: #ededed;
}

.main-editor-header .x-title-text{
	text-align: right;
	color: #4c0e83;
}

.main-editor-header .x-panel-body, .main-editor-header .x-grid-header-ct{
	display:none;
}
